@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Digital-7&display=swap');

:root {
    --bg-color-dark: black;
    --font-primary-dark: #E5E5E5;
    --font-secundary-dark: #FCA311;

    --bg-color-light: #E5E5E5;
    --font-secundary-light: black;
    --font-secundary-light: #8F1A00;

}

* {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-style: normal;

    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;

    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 393px;

    height: auto;
    max-height: 393px;
    aspect-ratio: 1/1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 30px;

    transition: 1s;
}

p {
    padding: 0;
    margin: 0;

    font-size: 1.5rem;
}

h1 {
    font-size: clamp(2rem, 96px, 7rem);

    width: auto;

    padding: 0;
    margin: 0;

    font-weight: 400;
}

.bg-dark {
    background-color: var(--bg-color-dark);
    color: var(--font-primary-dark);
}
.bg-dark p {
    color: var(--font-secundary-dark);
}

.bg-light {
    background-color: var(--bg-color-light);
    color: var(--font-primary-light);
}
.bg-light p {
    color: var(--font-secundary-light);
}

.data-secunds {
    width: 100%;
    display: flex;
    justify-content: space-between;

    transform: translateY(20px);
}
.data-secunds p:first-child {
    animation: translateToRight 1s ease-in forwards;
}
.data-secunds p:last-child {
    animation: traslateToLeft 1s ease-in forwards;
}

.hours {
    width: 100%;

    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;
}
.hours h1 {
    animation: opacity 1s ease-in forwards;
}

.temperature {
    width: 100%;

    display: flex;
    justify-content: end;

    transform: translateY(-20px);
}
.temperature p {
    animation: traslateToLeft 1s ease-in forwards;
}

@keyframes translateToRight {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 100%;
    }
}
@keyframes traslateToLeft {
    from {
        transform: translate(20px);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 100%;
    }
}
@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}